<article class="<%= class_names("card", card.signpost.status) %>" data-card-id="<%= card.id %>">
  <time><%= card.created_at.strftime("%d %b %Y") %></time>

  <div class="main">
    <%= card.front_text %>
  </div>

  <div class="actions">
    <span class="image-status">Image <%= card.signpost.status %></span>

    <%= form_with model: [:deck, card, Signpost.new], url: deck_card_signpost_path(card), method: :create, class: "retry-form" do |f| %>
      <%= f.submit "Retry Attachment" %>
    <% end %>

    <%= form_with model: [:deck, card], method: :delete do |f| %>
      <%= f.submit "Delete", class: "button outline secondary text-error" %>
    <% end %>
  </div>
</article>
