<h1>Add Card</h1>

<%= form_with model: [:deck, Card.new], id: "new-2-card-form" do |form| %>
  <%= form.hidden_field :front_text %>

  <%= form.label :back_text, "Back Text" %>
  <%= form.text_area :back_text, required: true  %>

  <%= form.submit "Create", class: "primary" %>
<% end %>
