<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <header>
      <strong><%= link_to "Flashcards", root_path, class: "app-name" %></strong>

      <% if current_account %>
        <nav>
          <%= link_to "Log out", rodauth.logout_path, class: "logout-link", data: { turbo_method: :post }  %>
        </nav>
      <% end %>
    </header>

    <main>
      <div class="app-container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
